.Painel{
    background-color: #b00;
    color: #ffffff;
    text-align: center;
    display: block ruby;
    position: relative;
    top: 80px;
}

.Image-Car{
    width: 380px;
    border: 2px solid #c7c7f0;
}

.Title-car{
    border-bottom: 1px solid;
    width: fit-content;
    margin: 10px auto;
    padding: 5px;
}

.Box-Car{
    margin: auto;
    width: 400px;
}
.Id-car{
    text-align:end;
    margin: 5px;
    font-size: small;
    font-style: italic;
}